/package/cron/**/*.ts @favna @kyranet @vladfrangu
/package/duration/**/*.ts @favna @kyranet @vladfrangu
/package/timer-manager/**/*.ts @favna @kyranet @vladfrangu
/package/timestamp/**/*.ts @favna @kyranet @vladfrangu
/packages/async-queue/**/*.ts @vladfrangu @kyranet @favna
/packages/bit-array/**/*.ts @vladfrangu @kyranet @favna
/packages/bitfield/**/*.ts @vladfrangu @kyranet @favna
/packages/decorators/**/*.ts @vladfrangu @kyranet @favna
/packages/discord-utilities/**/*.ts @favna
/packages/discord.js-utilities/src/**/*.ts @kyranet @vladfrangu @realshadownova @favna
/packages/eslint-config/**/*.ts @favna
/packages/eslint-plugin-result/**/*.ts @didinele
/packages/event-iterator/**/*.ts @kyranet @vladfrangu @favna
/packages/fetch/**/*.ts @favna @kyranet @vladfrangu
/packages/lexure/**/*.ts @kyranet @favna @vladfrangu
/packages/node-utilities/**/*.ts @kyranet @favna @vladfrangu
/packages/phisherman/**/*.ts @undiedgamer @favna @vladfrangu
/packages/prettier-config/**/*.ts @favna
/packages/ratelimits/**/*.ts @kyranet @vladfrangu @favna
/packages/result/**/*.ts @kyranet @vladfrangu @favna
/packages/snowflake/**/*.ts @favna @vladfrangu @kyranet
/packages/stopwatch/**/*.ts @kyranet @vladfrangu
/packages/time-utilities/**/*.ts @favna @kyranet @vladfrangu
/packages/ts-config/**/*.ts @favna
/packages/utilities/**/*.ts @favna @kyranet @vladfrangu
