{
	"extends": ["./packages/eslint-config/dist/index.cjs", "plugin:@sapphire/result/recommended"],
	"overrides": [
		{
			"files": ["*.test.ts"],
			"rules": {
				"@typescript-eslint/no-extraneous-class": "off"
			}
		}
	]
}
