name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6
      - name: Install dependencies
        uses: sapphiredev/.github/actions/install-yarn-dependencies@main
        with:
          node-version: 20
      - name: Build ESLint, Prettier and Utilities
        run: |
          yarn workspaces foreach \
            --all \
            --parallel \
            --include @sapphire/eslint-config \
            --include @sapphire/prettier-config \
            --include @sapphire/eslint-plugin-result \
            --include @sapphire/result \
            --include @sapphire/node-utilities \
            --include @sapphire/utilities \
            run build
      - name: Run ESLint
        run: yarn lint --fix=false

  build:
    name: Building
    uses: sapphiredev/.github/.github/workflows/reusable-build.yml@main

  docs:
    name: Docgen
    if: github.event_name == 'pull_request'
    uses: sapphiredev/.github/.github/workflows/reusable-yarn-job.yml@main
    with:
      script-name: docs

  test:
    name: Tests
    uses: sapphiredev/.github/.github/workflows/reusable-tests.yml@main
    with:
      build: true
      enable-sonar: true
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  check-subpath:
    name: Check subpaths
    uses: sapphiredev/.github/.github/workflows/reusable-yarn-job.yml@main
    with:
      script-name: build:check-subpath -- --check

  check-dynamic-side-effects:
    name: Check Dynamic Side Effects
    uses: sapphiredev/.github/.github/workflows/reusable-yarn-job.yml@main
    with:
      script-name: build:dynamic-side-effects -- --check

  check-package-index-files:
    name: Check Package Index Files
    uses: sapphiredev/.github/.github/workflows/reusable-yarn-job.yml@main
    with:
      script-name: gen-index --parallel -- --check
