name: Continuous Delivery

on:
  workflow_dispatch:
    inputs:
      prNumber:
        description: The number of the PR that is being deployed
        required: true
      ref:
        description: The branch that is being deployed. Should be a branch on the given repository
        required: false
        default: main
      repository:
        description: The {owner}/{repository} that is being deployed.
        required: false
        default: sapphiredev/utilities
  push:
    branches:
      - main

jobs:
  build:
    name: Build code
    runs-on: ubuntu-latest
    if: github.repository_owner == 'sapphiredev'
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3
        with:
          repository: ${{ github.event.inputs.repository || 'sapphiredev/utilities' }}
          ref: ${{ github.event.inputs.ref || 'main' }}
      - name: Add TypeScript problem matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"
      - name: Use Node.js v18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          registry-url: https://registry.yarnpkg.com/
      - name: Install Dependencies
        run: yarn --immutable
      - name: Build all packages
        run: yarn build

  publish:
    name: Publish Next to npm
    needs: build
    strategy:
      fail-fast: false
      matrix:
        package:
          - async-queue
          - bitfield
          - cron
          - decorators
          - discord-utilities
          - discord.js-utilities
          - duration
          - eslint-config
          - eslint-plugin-result
          - event-iterator
          - fetch
          - lexure
          - node-utilities
          - phisherman
          - ratelimits
          - result
          - snowflake
          - stopwatch
          - time-utilities
          - timer-manager
          - timestamp
          - ts-config
          - utilities
    runs-on: ubuntu-latest
    if: github.repository_owner == 'sapphiredev'
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          repository: ${{ github.event.inputs.repository || 'sapphiredev/utilities' }}
          ref: ${{ github.event.inputs.ref || 'main' }}
      - name: Use Node.js v18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          registry-url: https://registry.yarnpkg.com/
      - name: Install Dependencies
        run: yarn --immutable

        # Required step because @favware/cliff-jumper depends on this package
      - name: Build utilities
        working-directory: packages/utilities
        run: yarn build

      - name: Bump Versions & Publish
        working-directory: packages/${{ matrix.package }}
        run: |
          # Resolve the tag to be used. "next" for push events, "pr-{prNumber}" for dispatch events.
          TAG=$([[ ${{ github.event_name }} == 'push' ]] && echo 'next' || echo 'pr-${{ github.event.inputs.prNumber }}')

          yarn config set npmAuthToken ${NODE_AUTH_TOKEN}
          yarn config set npmPublishRegistry "https://registry.yarnpkg.com"

          yarn bump --preid "${TAG}.$(git rev-parse --verify --short HEAD)"

          yarn npm publish --tag ${TAG}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
